<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Your Cart</title>
</head>
<body>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Cart</li>
            <li class="breadcrumb-item">Order</li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </nav>
    <div class="card">
        <div class="card-header">Shopping Cart <span class="badge badge-secondary" th:if="${cart.size() > 0}" th:text="${cart.size()}"></span> <a th:href="@{/}" class="btn btn-secondary btn-sm">Return to home</a></div>
        <div class="card-body">
            <div class="alert alert-success" th:if="${message != null}" th:text="${message}"></div>
            <div class="alert alert-info" th:if="${cart.isEmpty()}">No item.</div>
                <ul class="list-unstyled">
                    <li class="" th:each="prod,iterStat : ${cart}" th:class="${iterStat.odd} ? 'media bg-light text-white' : 'media'">
                        <img th:src="*{prod.value.image}" class="mr-3" width="75px" th:alt="*{prod.value.name}">
                        <div class="media-body">
                            <a class="mt-0 mb-1" th:href="@{/product/{id}(id=*{prod.value.id})}" th:text="*{prod.value.name}"></a>
                            <p th:text="*{'Price: $' + prod.value.price}" class="text-danger mb-0"></p>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a class="btn btn-secondary" th:if="*{prod.value.qty > 1}" th:href="@{/cart/update-product/{id}/{qty}(id=*{prod.value.id},qty=*{prod.value.qty - 1})}"><i class="fas fa-minus"></i></a>
                                <span class="btn btn-secondary" th:text="*{prod.value.qty}"></span>
                                <a class="btn btn-secondary" th:href="@{/cart/update-product/{id}/{qty}(id=*{prod.value.id},qty=*{prod.value.qty + 1})}"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                        <a class="float-right btn btn-danger btn-sm" th:href="@{/cart/remove-product/{id}(id=*{prod.value.id})}"><i class="far fa-trash-alt"></i></a>
                    </li>
                </ul>
                <p th:if="${amount > 0}" th:text="${'Total: $' + amount}"></p>
        </div>
    </div>
</div>
</body>
</html>
